In [1]:
import pandas as pd
import numpy as np
from psycopg2 import connect, extensions
from sqlalchemy import create_engine

In [2]:
conn = connect(database="airflow_db",
               host='172.19.0.1',
               port=5433,
               user='airflow',
               password='airflow')
cursor = conn.cursor()

In [3]:
user = 'airflow'
pw = 'airflow'
ip = '172.19.0.1:5433'
dbname = 'airflow_db'
conn_string = f'postgresql://{user}:{pw}@{ip}/{dbname}'
db = create_engine(conn_string)
conn = db.connect()

In [5]:
dat = pd.read_csv("./notebook/data/merged_train (1).csv")
table_name = "train_table"
dat.to_sql(name=table_name, con=conn, if_exists='replace', index=False) 
conn.commit()

In [6]:
dat

,date,trend,post_count,comment_count,avg_sentiment_score,positive_count,negative_count,Close,pos,neu,neg
0,2025-01-02,17.000000,0.0,0.0,0.000000,0.0,0.0,138.30,51.515152,15.151515,33.333333
1,2025-01-03,17.000000,0.0,0.0,0.000000,0.0,0.0,144.46,39.024390,17.073171,43.902439
2,2025-01-06,17.000000,0.0,0.0,0.000000,0.0,0.0,149.42,46.666667,15.555556,37.777778
3,2025-01-07,52.000000,0.0,0.0,0.000000,0.0,0.0,140.13,50.000000,20.312500,29.687500
4,2025-01-08,34.000000,0.0,0.0,0.000000,0.0,0.0,140.10,50.704225,38.028169,11.267606
...,...,...,...,...,...,...,...,...,...,...,...
91,2025-05-15,64.000000,1.0,192.0,0.008236,14.0,18.0,134.83,0.000000,0.000000,0.000000
92,2025-05-16,56.000000,0.0,0.0,0.000000,0.0,0.0,135.40,48.936170,14.893617,36.170213
93,2025-05-19,44.333333,0.0,0.0,0.000000,0.0,0.0,135.57,40.789474,11.842105,47.368421
94,2025-05-20,56.000000,0.0,0.0,0.000000,0.0,0.0,134.38,50.000000,29.310345,20.689655
95,2025-05-21,55.000000,0.0,0.0,0.000000,0.0,0.0,131.80,0.000000,0.000000,0.000000

In [7]:
dat = pd.read_csv("./notebook/data/merged_test (1).csv")
table_name = "test_table"
dat.to_sql(name=table_name, con=conn, if_exists='replace', index=False) 
conn.commit()

In [8]:
dat

,date,trend,post_count,comment_count,avg_sentiment_score,positive_count,negative_count,Close,pos,neu,neg
0,2025-05-22,56.0,1.0,38.0,-0.067941,4.0,5.0,132.83,51.515152,12.121212,36.363636
1,2025-05-23,50.0,0.0,0.0,0.000000,0.0,0.0,131.29,45.454545,24.675325,29.870130
2,2025-05-27,56.0,0.0,0.0,0.000000,0.0,0.0,135.50,33.823529,23.529412,42.647059
3,2025-05-28,100.0,1.0,36.0,-0.003949,4.0,5.0,134.81,36.363636,45.454545,18.181818
4,2025-05-29,92.0,0.0,0.0,0.000000,0.0,0.0,139.19,40.458015,20.610687,38.931298
5,2025-05-30,58.0,0.0,0.0,0.000000,0.0,0.0,135.13,34.782609,36.231884,28.985507

In [4]:
conn.close()